.reset-password {
	background-color: #00cc99;
	color: white;
	text-align: center;
	border-radius: 16px;
	border: none;
	padding: 4px;
	vertical-align: middle;
	width: 50%;
	margin: auto;
	border-color: none;
	font-size: 1em;
	/* display: block; */
}
.reset-password:hover {
	color: white;
	border: none;
}
.reset-password:focus {
	outline: none;
}

.title {
	color: #0099ff;
	font-size: 1.2em;
}
.sub-title {
	font-weight: bold;
	font-size: 1em;
}

.back-to-login {
	font-size: 1em;
}
