/*  For vertical center */
.center-container {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.title{
    font-size: 1.2em;
}

.login-btn {
	background-color: #00cc99;
	color: white;
	text-align: center;
	border-radius: 16px;
	border: none;
	padding: 4px;
	vertical-align: middle;
	width: 20%;
	margin: auto;
	border-color: none;
	/* display: block; */
}
.login-btn:hover {
	color: white;
	border: none;
}
.login-btn:focus {
	outline: none;
}
