.register-page-container{
    width: 60%;
    max-width: 100%;
    background-color: aliceblue;
    padding: 10px;
}

.title{
   font-size: 1.2em;
   font-weight: bold;
}

.register-btn{
    
    background-color: #00cc99;
    color: white;
    text-align: center;
    border-radius: 16px;
    border: none;
    padding: 4px;
    vertical-align: middle;
    width: 50%;
    margin: auto;
    border-color: none;
    /* display: block; */

}
.register-btn:hover{
    color: white;
    border: none;
}
.register-btn:focus{
   outline: none;
}