.change-page-container {
	width: 30%;
	max-width: 100%;
	background-color: aliceblue;
}

.title{
	font-size: 1.2em;
}
.change-btn {
	background-color: #00cc99;
	color: white;
	text-align: center;
	border-radius: 16px;
	border: none;
	padding: 4px;
	vertical-align: middle;
    margin: auto;
    width: 50%;
	border-color: none;
	/* display: block; */
}
.change-btn:hover {
	color: white;
	border: none;
}
.change-btn:focus {
	outline: none;
}
